.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: column;
  margin: 20px;
}

.scrollView {
  height: 30px;
  width: 30px;
  font-size: 24px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 1px solid gray;
}
